*{
    font-family: Tajawal, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s6{
    font-family: sporto6;
    display: inline-block;
    font-size: 60%;
}
.in{
    font-family: sporto2;
    color: rgb(45, 81, 187);
}
.twitter{
    font-family: sporto2;
    color: royalblue;
}
.github{
    font-family: sporto1;
    color: rgb(64, 64, 64);
}
.facebook{
    font-family: leCafeTech2;
    color: rgb(41, 41, 126);
}
.heart{
    font-family: sporto2;
    color: pink;
}
.tulip{
    font-family: sporto5;
    background: linear-gradient(rgb(216, 64, 216),rgb(216, 64, 216), green, green);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
#social span{
    font-size: 25px;
    display: inline-block;
}
#social{
    margin: 5px;
    height: fit-content;
    padding: 0px;
    margin-left: 10px;
    position: relative;
}
#nbback{
    display: block;
    float: left;
    height: 0.5in; 
    line-height: 160%;
    text-align: center;
    font-size: 30px;
    width: 0.5in;
    background-color: crimson;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 0.3in; right: 0.2in;
    transition: 0.5s;
    background-color: royalblue; font-size: 16px; border-radius: 20px; width: 0.6in; height: 0.7in; line-height: unset;
}
#nbback:hover{
    height: 60%;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    transition: 0.5s;

    border-top: 0.1in cornflowerblue solid;

    background-color: coral;
}
#wow{
    display: block;
    margin-top: 0.4in;
}
.btn{
    outline: none;
    border: none;
    background-color: rgb(54, 164, 228);
    color: white;
    border-radius: 20px;
    padding-left: 10px; padding-right: 10px;
    font-size: 20px;
    margin: 5px;
    height: 0.4in;
}

.card{
    width: 100%;
    border-top: 2px crimson solid;
    border-top-color: black;
}
.cardImgHolder{
    width: 100%;
    height: 2in;
    overflow: hidden;
}
.cardImgHolder img{
    width: 100%;
    margin-top: -2in;
    margin-top: -2.3in;
}

.cardContent{
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;
    color: rgb(64, 64, 64);
}

.cardTitle{
    font-size: 40px;
    color: rgb(54, 164, 228);
}
.cardAction{
    width: 90%;
    text-align: right;
    margin-right: 10%;
}
.nbBtn{
    display: inline-block;
    height: 100%;
    max-width: 32.5%;
    min-width: 32.5%;
    background-color: transparent;
    color: crimson;
    color: chocolate;
    color: rgb(177, 173, 230);
    color: rgb(54, 164, 228);
    outline: none;
    margin: 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 1px;
    padding-right: 1px;
}
.nbBtn:hover{
    background-color: rgb(54, 164, 228);
    color: white;
    border-bottom: 2px solid rgb(54, 164, 228);
}